{% extends 'theme/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Enter code from phone{% endblock %}

{% block page-inner %}
<div class="page__inner individual">
    <h3 class="individual__heading">Please enter the code we sent you to your phone number.</h3>
    <form action="{{ theme_url }}/confirm-forgot-password-phone-code/" method="POST">
        {% csrf_token %}
        <input name="next" value="{{ next }}" type="hidden" />
        <input name="phonenumber" value="{{ phonenumber }}" id="confirm_phonenumber" type="hidden" />
        <div class="individual__field form-group {% if error.code %}is-invalid{% endif %}">
            <div class="form-group__field-group">
                <input class="form-group__field" name="code" autocomplete="off" placeholder="Enter the code" required>
                {% if error.code %}
                <svg class="form-group__required"><use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use></svg>
                {% endif %}
            </div>
            {% if error.code %}
            <p class="form-group__message is-invalid-item">{{ error.code }}</p>
            {% endif %}
        </div>
        <div class="individual__buttons">
            <button class="popup__btn btn btn--round btn--theme-4" type="submit">Confirm</button>
            <button class="popup__btn btn btn--round btn--theme-2" type="button" onclick="resendConfirmPhone(this)">Resend</button>
        </div>
    </form> 
</div>
{% endblock %}