{% extends 'theme/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Forgot Password With Phone{% endblock %}

{% block page-inner %}
<div class="page__inner individual">
    <h3 class="individual__heading">Forgot password? Enter your Phone number to recover it.</h3>
    <form action="{{ theme_url }}/forgot-password/" method="POST">
        {% csrf_token %}
        <input name="next" value="{{ next }}" type="hidden" />
        <div class="individual__field form-group form-group {% if error.phonenumber %}is-invalid{% endif %}">
            <div class="form-group__field-group">
                <input class="form-group__field" name="phonenumber" type="text" autocomplete="phonenumber" placeholder="Phone number" required>
                {% if error.phonenumber %}
                <svg class="form-group__required is-invalid-item">
                    <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                </svg>
                {% endif %}
            </div>
            {% if error.phonenumber %}
            <p class="form-group__message is-invalid-item">{{ error.phonenumber }}</p>
            {% endif %}
        </div>
        <div class="individual__buttons">
            <button class="individual__btn btn btn--round btn--theme-4" type="submit">Recover Password</button>
            <a class="individual__link popup__link-btn" href="{{ theme_url }}/forgot-password-email?next={{ next }}">Do you want to recover password with Email?</a>
        </div>
    </form>
</div>
{% endblock %}