{% extends 'theme/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Initiate trade{% endblock %}

{% block page-inner %}
<div class="page__inner initiation">
    <header class="initiation__header">
        <h1 class="initiation__heading">Initiate trade</h1>
        <button form="form1" class="initiation__confirm btn btn--round btn--theme-2" type="submit">Confirm</button>
    </header>
    <div class="initiation__container">
        <div class="initiation__wrapper">
            <form class="initiation__form" action="{{ theme_url }}/initiate-trade/" method="POST" id="form1">
                {% csrf_token %}
                <input type="hidden" name="offer_id" value="{{ offer_id }}" id="offer_id" />
                <input type="hidden" name="trade_id" value="{{ trade_id }}" id="trade_id" />
                <div class="initiation__field form-group">
                    <div class="form-group__field-group">
                        <span class="form-group__triangle"></span>
                        <select class="form-group__field" name="payment_method" id="payment_method" required>
                            {% for key, value in PAYMENT_METHODS %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="initiation__field form-group">
                    <div class="form-group__field-group">
                        <input class="form-group__field" name="amount" id="amount" type="number" placeholder="Amount to buy" required>
                        <svg class="form-group__required">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                        </svg>
                    </div>
                </div>
            </form>
            <div class="initiation__info">
                <div class="initiation__info-items">
                    <dl class="initiation__info-item" id="you_will_pay">
                        <dt class="initiation__info-heading">You will pay</dt>
                        <dd class="initiation__info-sum">497 USD</dd>
                    </dl>
                    <dl class="initiation__info-item" id="you_will_get">
                        <dt class="initiation__info-heading">You will get</dt>
                        <dd class="initiation__info-sum">1981 XRP</dd>
                    </dl>
                </div>
                <div class="initiation__info-addition">
                    <dl class="initiation__info-addition-item" id="offerer_will_pay">
                        <dt class="initiation__info-addition-heading">Offerer will pay</dt>
                        <dd class="initiation__info-addition-sum">18 XRP</dd>
                    </dl>
                    <dl class="initiation__info-addition-item" id="you_cover_pay">
                        <dt class="initiation__info-addition-heading">You’ll cover cost for</dt>
                        <dd class="initiation__info-addition-sum">9.5 XRP</dd>
                    </dl>
                </div>
            </div>
        </div>
        <footer class="initiation__description">
            <h2 class="initiation__description-heading">Good to know</h2>
            <div class="initiation__description-inner">
                <p class="initiation__text">By clicking Confirm button, you would not have made a purchase. To do so, you would have to fulfil sellers requirements. By clicking confirm, you are opening a trade. If you are not sure weather you will go through with it, we recommend recheck sellers's requirements before Confirming as failed trades can hurt your 'Intitate to Complete Rate' which any other sellers can look up on your profile.</p>
            </div>
        </footer>
    </div>
</div>
{% endblock %}

{% block bottom-script %}
{{ block.super }}
<script>
$(function() {
    $('#amount').keyup(function () {
        calculating_func();
    })
    $('#payment_method').change(function () {
        calculating_func();
    })
    function calculating_func() {
        $.ajax({
            url: '{{ theme_url }}/caculate-trade/',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}', 
                'offer_id': $('#offer_id').val(),
                'trade_id': $('#trade_id').val(),
                'amount': $('#amount').val(),
                'payment_method': $('#payment_method').val()
            },
            success: function(data) {
                $("#you_will_pay").find(".initiation__info-sum").text(data.you_pay_amount + ' ' + data.you_pay_flat)
                $("#you_will_get").find(".initiation__info-sum").text(data.you_get_amount + ' ' + data.you_get_flat)
                $("#offerer_will_pay").find(".initiation__info-addition-sum").text(data.offerer_pay_amount + ' ' + data.offerer_pay_flat)
                $("#you_cover_pay").find(".initiation__info-addition-sum").text(data.you_cover_amount + ' ' + data.you_cover_flat)
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        })
    }
})
</script>
{% endblock %}