{% extends 'theme/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Reset password{% endblock %}

{% block page-inner %}
<div class="page__inner change-pw">
    <h1 class="change-pw__heading">Change password</h1>
    <p class="change-pw__description">To change password, please enter new password and confirm password on next line. If no action is taken, your previous password will stay active.</p>
    <form action="{{ theme_url }}/reset-password/" method="POST">
        {% csrf_token %}
        <input name="next" value="{{ next }}" type="hidden" />
        <div class="change-pw__field form-group {% if error.password %}is-invalid{% endif %}">
            <div class="form-group__field-group">
                <input class="form-group__field" name="password" type="password" autocomplete="new-password" placeholder="New password" required>
                {% if error.password %}
                <svg class="form-group__required"><use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use></svg>
                {% endif %}
            </div>
            {% if error.password %}
            <p class="form-group__message is-invalid-item">{{ error.password }}</p>
            {% endif %}
        </div>
        <div class="change-pw__field form-group">
            <div class="form-group__field-group">
                <input class="form-group__field" name="password_confirm" type="password" autocomplete="new-password" placeholder="Confirm new password" required>
                <svg class="form-group__required"><use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use></svg>
            </div>
        </div>
        <button class="change-pw__btn btn btn--round btn--theme-2" type="submit">SET NEW PASSWORD</button>
    </form> 
</div>
{% endblock %}