{% extends 'theme/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Support center{% endblock %}

{% block page-inner %}
<div class="page__inner support-center">
    <header class="content-header">
        <h1 class="content-header__heading">Support Center</h1><a class="support-center__create btn btn--round btn--theme-2" href="{{ theme_url }}/submit-ticket">Create New Ticket</a>
        {% if user.customer %}
        <div class="status">
			<div class="status__data"><span class="status__text">{{ user.customer.balance }} in wallet</span><a class="status__text" href="{{ them_url }}/my-balance">View Full Wallet</a></div>
			<div class="status__userpic"><img class="status__user-img" src="{% if user.avatar %}{{ user.avatar.file.url }}{% else %}{% static 'theme/images/userpic.png' %}{% endif %}" alt=""></div>
        </div>
        {% endif %}
    </header>
    <p class="support-center__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium justo ac mattis vestibulum. Cras varius nisi ipsum, a aliquet mauris vehicula condimentum. Quisque vel magna vel diam facilisis feugiat. Quisque faucibus quis lacus in accumsan. Cras a feugiat urna. Quisque luctus mauris sed mi aliquet hendrerit. Integer luctus neque mattis, vulputate odio eu, consequat est. Nam orci justo, blandit at risus auctor, faucibus porttitor ante. Quisque ut neque nec odio pulvinar vehicula a et libero. Donec velit mi, sollicitudin ut libero ut, aliquam accumsan nunc. Cras posuere ex egestas, fermentum nibh ac, varius massa. Nunc mattis metus quis velit euismod varius. Aenean in ante vitae arcu volutpat rutrum.</p>
    {% for item in items %}
    <div class="support-center__collapse collapse collapse--pending">
        <header class="collapse__header js-collapse-trigger" data-target="#dispute-{{ forloop.counter }}">
            <h3 class="collapse__heading">ID{{ item.id }} - {{ item.topic }}</h3><span class="collapse__status">{{ item.get_is_dispute_display }}</span><svg class="collapse__icon">
                <use xlink:href="{% static 'theme/images/icons.svg' %}#arrow-down-mod"></use>
            </svg>
        </header>
        <div class="collapse__content" id="dispute-{{ forloop.counter }}">
            <p class="collapse__text">{{ item.content|safe }} <a href="{{ theme_url }}/ticket-details?item_id={{ item.id }}">Read more!</a></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Support center</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge"><!-- Favicon data-->
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2c06a9">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700&amp;display=swap" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/theme/css/theme.min.css">
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/theme/js/theme.min.js" defer></script>
        
    </head>

    <body class="page">
        <article class="cookie-alert">
            <div class="cookie-alert__container"><span>We use cookies to personalize content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services</span><button class="cookie-alert__btn" type="button" onclick="this.parentElement.parentElement.remove()">ACCEPT</button></div>
        </article>
        <aside class="top-bar">
            <div class="top-bar__container">
                <div class="top-bar__select">
                    <div class="top-bar__select-wrapper"><span class="top-bar__select-triangle"></span><select class="top-bar__select-field" required>
                            <option value="" selected disabled>Select location</option>
                            <option value="#">USA</option>
                            <option value="#">China</option>
                            <option value="#">Test</option>
                            <option value="#">Test</option>
                            <option value="#">Test</option>
                        </select></div><button class="top-bar__select-btn btn btn--theme-2 btn--round" type="button">APPLY</button>
                </div>
                <ul class="top-bar__items">
                    <li class="top-bar__item"> <span class="top-bar__currency">BTC/USD</span><span class="top-bar__value">10400.99</span><span class="top-bar__change is-positive">+0.19%</span></li>
                    <li class="top-bar__item"> <span class="top-bar__currency">ETH/USD</span><span class="top-bar__value">129.99</span><span class="top-bar__change is-negative">-1.29%</span></li>
                    <li class="top-bar__item"> <span class="top-bar__currency">XRP/USD</span><span class="top-bar__value">0.2625</span><span class="top-bar__change is-positive">+3.29% </span></li>
                </ul>
            </div>
        </aside>
        <div class="page__container">
            <header class="page__header header">
                <div class="header__container">
                    <div class="header__inner">
                        <div class="header__wrapper"><a class="header__logo-wrapper" href="index.html"><img class="header__logo" src="{% static 'theme/images/logos/logo-header-mobile.png' %}" alt="Raplev logo"><img class="header__logo header__logo--desktop" src="{% static 'theme/images/logos/logo-header.png' %}" alt="Raplev logo"></a>
                            <div class="nav-toggle nav-toggle--mobile js-mobile-menu-trigger">
                                <div class="nav-toggle__bar"></div>
                                <div class="nav-toggle__bar"></div>
                                <div class="nav-toggle__bar"></div>
                            </div>
                        </div>
                        <nav class="header__nav nav">
                            <div class="nav__list-wrapper">
                                <ul class="nav__mobile-list js-mobile-menu-target">
                                    <li class="nav__item"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#home"></use>
                                        </svg><a class="nav__link" href="index.html">Home</a></li>
                                    <li class="nav__item" onclick="login.open()"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#sign-in-alt"></use>
                                        </svg><button class="nav__link" type="button">Login</button></li>
                                    <li class="nav__item" onclick="register.open()"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#user-plus"></use>
                                        </svg><button class="nav__link" type="button">Register</button></li>
                                    <li class="nav__item" onclick="support.open()"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#ticket-alt"></use>
                                        </svg><button class="nav__link" type="button">Support</button></li>
                                </ul>
                                <ul class="nav__desktop-list nav__list--desktop">
                                    <!-- Logged-in menu items which appears on desktop.-->
                                    <li class="nav__item"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#home"></use>
                                        </svg><a class="nav__link" href="index.html">Home</a></li>
                                    <li class="nav__item js-login-trigger" onclick="login.open()"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#sign-in-alt"></use>
                                        </svg><button class="nav__link" type="button">Login</button></li>
                                    <li class="nav__item js-register-trigger" onclick="register.open()"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#user-plus"></use>
                                        </svg><button class="nav__link" type="button">Register</button></li>
                                    <li class="nav__item js-support-trigger" onclick="support.open()"><svg class="nav__icon">
                                            <use xlink:href="{% static 'theme/images/icons.svg' %}#ticket-alt"></use>
                                        </svg><button class="nav__link" type="button">Support</button></li>
                                    <li class="nav__item"><button class="scroll-btn" data-toggle="scrollBtn"><svg class="scroll-btn__icon">
                                                <use xlink:href="{% static 'theme/images/icons.svg' %}#arrow-down-mod"></use>
                                            </svg></button></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="header__links">
                        <div class="header__extra-links"><a class="header__extra-link" href="#">I’m a buyer </a><a class="header__extra-link" href="#">I’m a seller</a><a class="header__extra-link" href="#">Blog</a></div><a class="header__link header__link--trade" href="#">Create new offer</a><a class="header__link header__link--refer" href="#">Refer</a>
                    </div>
                </div>
            </header>
            <div class="page__inner support-center">
                <header class="content-header">
                    <h1 class="content-header__heading">Support Center</h1><a class="support-center__create btn btn--round btn--theme-2" href="#">Create New Ticket</a>
                    <div class="status">
                        <div class="status__data"><span class="status__text">1.554 BTC in Wallet</span><a class="status__text" href="#">View Full Wallet</a></div>
                        <div class="status__userpic"><img class="status__user-img" src="{% if user.avatar %}{{ user.avatar.file.url }}{% else %}{% static 'theme/images/userpic.png' %}{% endif %}" alt=""></div>
                    </div>
                </header>
                <p class="support-center__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium justo ac mattis vestibulum. Cras varius nisi ipsum, a aliquet mauris vehicula condimentum. Quisque vel magna vel diam facilisis feugiat. Quisque faucibus quis lacus in accumsan. Cras a feugiat urna. Quisque luctus mauris sed mi aliquet hendrerit. Integer luctus neque mattis, vulputate odio eu, consequat est. Nam orci justo, blandit at risus auctor, faucibus porttitor ante. Quisque ut neque nec odio pulvinar vehicula a et libero. Donec velit mi, sollicitudin ut libero ut, aliquam accumsan nunc. Cras posuere ex egestas, fermentum nibh ac, varius massa. Nunc mattis metus quis velit euismod varius. Aenean in ante vitae arcu volutpat rutrum.</p>
                <div class="support-center__collapse collapse collapse--pending">
                    <header class="collapse__header js-collapse-trigger" data-target="#dispute-1">
                        <h3 class="collapse__heading">ID4457456 - Incorrect Payment Received during Trade</h3><span class="collapse__status">Pending</span><svg class="collapse__icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#arrow-down-mod"></use>
                        </svg>
                    </header>
                    <div class="collapse__content" id="dispute-1">
                        <p class="collapse__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, consequatur expedita veniam officia non aperiam sunt corrupti facilis obcaecati possimus hic iusto perspiciatis amet commodi quibusdam laudantium <a href="#">ea tempora id!</a></p>
                    </div>
                </div>
                <div class="support-center__collapse collapse collapse--solved">
                    <header class="collapse__header js-collapse-trigger" data-target="#dispute-2">
                        <h3 class="collapse__heading">ID4457456 - Incorrect Payment Received during Trade</h3><span class="collapse__status">Solved</span><svg class="collapse__icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#arrow-down-mod"></use>
                        </svg>
                    </header>
                    <div class="collapse__content" id="dispute-2">
                        <p class="collapse__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, consequatur expedita veniam officia non aperiam sunt corrupti facilis obcaecati possimus hic iusto perspiciatis amet commodi quibusdam laudantium <a href="#">ea tempora id!</a></p>
                    </div>
                </div>
                <div class="support-center__collapse collapse collapse--solved">
                    <header class="collapse__header js-collapse-trigger" data-target="#dispute-3">
                        <h3 class="collapse__heading">ID4457456 - User account hacked</h3><span class="collapse__status">Solved</span><svg class="collapse__icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#arrow-down-mod"></use>
                        </svg>
                    </header>
                    <div class="collapse__content" id="dispute-3">
                        <p class="collapse__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, consequatur expedita veniam officia non aperiam sunt corrupti facilis obcaecati possimus hic iusto perspiciatis amet commodi quibusdam laudantium <a href="#">ea tempora id!</a></p>
                    </div>
                </div>
                <div class="support-center__collapse collapse collapse--solved">
                    <header class="collapse__header js-collapse-trigger" data-target="#dispute-4">
                        <h3 class="collapse__heading">ID4457456 - Incorrect Payment Received during Trade</h3><span class="collapse__status">Solved</span><svg class="collapse__icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#arrow-down-mod"></use>
                        </svg>
                    </header>
                    <div class="collapse__content" id="dispute-4">
                        <p class="collapse__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, consequatur expedita veniam officia non aperiam sunt corrupti facilis obcaecati possimus hic iusto perspiciatis amet commodi quibusdam laudantium <a href="#">ea tempora id!</a></p>
                    </div>
                </div>
            </div><!-- Elements are wrapped in an empty block to correct positioning relative to the header during animation. -->
            <div>
                <aside class="page__dropdown page__dropdown--forgot-pw dropdown js-forgot-pwd-target">
                    <div class="dropdown__inner">
                        <header class="dropdown__header">
                            <h3 class="dropdown__heading">Forgot password?</h3><button class="dropdown__close" onclick="forgotPW.close()" type="button"><svg class="dropdown__close-icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                                </svg></button>
                        </header>
                        <div class="dropdown__field form-group is-invalid">
                            <div class="form-group__field-group">
<input class="form-group__field" name="blank" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Email address" required><svg class="form-group__required">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                </svg></div>
                            <p class="form-group__message">Validation alert</p>
                        </div>
                        <footer class="dropdown__buttons"><button class="dropdown__submit btn btn--large btn--theme-2" type="submit">SEND</button></footer>
                    </div>
                </aside>
                <aside class="page__dropdown dropdown js-login-target">
                    <div class="dropdown__inner">
                        <header class="dropdown__header">
                            <h3 class="dropdown__heading">Login</h3><button class="dropdown__close" onclick="login.close()" type="button"><svg class="dropdown__close-icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                                </svg></button>
                        </header>
                        <form action="#">
                            <div class="dropdown__field form-group is-invalid">
                                <div class="form-group__field-group">
<input class="form-group__field" name="blank" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Email address" required><svg class="form-group__required">
                                        <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                    </svg></div>
                                <p class="form-group__message">Validation alert</p>
                            </div>
                            <div class="dropdown__field form-group is-invalid">
                                <div class="form-group__field-group">
<input class="form-group__field" name="blank" type="password" autocomplete="current-password" placeholder="Password" required><svg class="form-group__required">
                                        <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                    </svg></div>
                                <p class="form-group__message">Validation alert</p>
                            </div><a class="dropdown__submit btn btn--large btn--theme-2" href="index-logged.html">LOGIN</a>
                        </form>
                        <footer class="dropdown__buttons"><button class="dropdown__text-btn" onclick="switchToRegister()" type="button">Create Account</button><button class="dropdown__text-btn js-forgot-pwd-trigger" onclick="forgotPW.open()" type="button">I forgot my password </button></footer>
                    </div>
                </aside>
                <aside class="page__dropdown dropdown dropdown--register js-register-target">
                    <div class="dropdown__inner">
                        <header class="dropdown__header">
                            <h3 class="dropdown__heading">Register</h3><button class="dropdown__close" onclick="register.close()" type="button"><svg class="dropdown__close-icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                                </svg></button>
                        </header>
                        <form class="js-password-check-toggle" action="#">
                            <div class="dropdown__field form-group is-invalid">
                                <div class="form-group__field-group">
<input class="form-group__field" name="blank" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Email address" required><svg class="form-group__required">
                                        <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                    </svg></div>
                                <p class="form-group__message">Validation alert</p>
                            </div>
                            <div class="dropdown__field form-group is-invalid">
                                <div class="form-group__field-group">
<input class="form-group__field" name="blank" autocomplete="name" placeholder="Full name" required><svg class="form-group__required">
                                        <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                    </svg></div>
                                <p class="form-group__message">Validation alert</p>
                            </div>
                            <div class="dropdown__field form-group">
                                <div class="form-group__field-group"><input class="form-group__field js-password-strength-input" name="blank" type="password" autocomplete="new-password" placeholder="Password" required></div>
                                <div class="dropdown__password-check-bar js-password-strength-output"><span class="dropdown__password-check-text">Strength: enter value...</span></div>
                            </div>
                            <div class="dropdown__field form-group">
                                <div class="form-group__field-group"><input class="form-group__field js-password-match-input" name="blank" type="password" autocomplete="new-password" placeholder="Password again" required></div>
                                <div class="dropdown__password-check-bar js-password-match-output"><span class="dropdown__password-check-text">Password matching: enter values...</span></div>
                            </div>
                            <div class="dropdown__buttons"><button class="dropdown__btn btn btn--theme-4" type="submit">I want to sell</button><button class="dropdown__btn btn btn--theme-2" type="submit">I want to buy</button></div><button class="dropdown__text-btn js-login-trigger" onclick="switchToLogin()" type="submit">I already have an account</button>
                        </form>
                    </div>
                </aside>
                <aside class="page__dropdown dropdown support-dropdown js-support-target">
                    <div class="dropdown__inner support-dropdown__inner">
                        <header class="dropdown__header">
                            <h3 class="dropdown__heading">Support</h3><button class="dropdown__close" onclick="support.close()" type="button"><svg class="dropdown__close-icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                                </svg></button>
                        </header>
                        <div class="support-dropdown__dispute">
                            <p class="support-dropdown__desc">Complex question? Dispute? Submit a ticket instead by using our support system.</p><a class="support-dropdown__link" href="support-center.html">SUPPORT CENTER</a>
                        </div>
                    </div>
                </aside>
                <aside class="page__dropdown dropdown js-two-factor-auth-target">
                    <div class="dropdown__inner">
                        <header class="dropdown__header">
                            <h3 class="two-factor__heading"> Two factor authentication</h3><button class="dropdown__close" onclick="twoFactorAuth.close()" type="button"><svg class="dropdown__close-icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                                </svg></button>
                        </header>
                        <p class="two-factor__subheading">We have sent you a code to your email, please enter the code below</p>
                        <form action="#">
                            <div class="dropdown__field form-group is-invalid">
                                <div class="form-group__field-group">
<input class="form-group__field" name="blank" autocomplete="off" placeholder="Code" required><svg class="form-group__required">
                                        <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                    </svg></div>
                                <p class="form-group__message">Validation alert</p>
                            </div><a class="dropdown__submit btn btn--large btn--theme-2" href="index-logged.html">LOGIN</a>
                        </form>
                    </div>
                </aside>
                <aside class="page__dropdown dropdown dropdown--user-menu js-user-menu-target">
                    <header class="dropdown__header"><button class="dropdown__close" onclick="userMenu.close()" type="button"><svg class="dropdown__close-icon">
                                <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                            </svg></button></header>
                    <div class="dropdown__inner">
                        <ul class="dropdown__list">
                            <li class="dropdown__mobile-list">
                                <ul>
                                    <li class="dropdown__menu-item"><a class="dropdown__link" href="index.html">Home</a></li>
                                    <li class="dropdown__menu-item"><a class="dropdown__link">I’m a Buyer</a></li>
                                    <li class="dropdown__menu-item"><a class="dropdown__link">I’m a Seller</a></li>
                                    <li class="dropdown__menu-item"><a class="dropdown__link" href="blog.html">Our Blog</a></li>
                                </ul>
                            </li>
                            <li class="dropdown__menu-item"><a class="dropdown__link">Dashboard</a></li>
                            <li class="dropdown__menu-item"><a class="dropdown__link" href="#">All Offers</a></li>
                            <li class="dropdown__menu-item"><span class="dropdown__counter">3</span><a class="dropdown__link">Received Offers</a></li>
                            <li class="dropdown__menu-item"><a class="dropdown__link" href="#">Transactions</a></li>
                            <li class="dropdown__menu-item"><span class="dropdown__counter">2</span><a class="dropdown__link" href="messages.html">Messages</a></li>
                            <li class="dropdown__menu-item"><a class="dropdown__link" href="fund.html">Funding</a></li>
                            <li class="dropdown__menu-item"><a class="dropdown__link" href="#">Trade History</a></li>
                            <li class="dropdown__menu-item"><a class="dropdown__link">Affiliates</a></li>
                            <li class="dropdown__menu-item"><a class="dropdown__link" href="index.html">Logout</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="popup js-confirmation-toggle"><button class="popup__close" onclick="confirmation.close()" type="button"></button>
                <div class="popup__container"><button class="popup__close-inner" type="button" onclick="confirmation.close()"><svg class="popup__close-icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                        </svg></button>
                    <h3 class="popup__heading">Please enter the code we sent you to your phone number.</h3>
                    <div class="popup__wrapper">
                        <div class="popup__field form-group">
                            <div class="form-group__field-group">
<input class="form-group__field" name="blank" autocomplete="off" placeholder="Enter the code" required><svg class="form-group__required">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                </svg></div>
                        </div>
                        <div class="popup__btn-wrapper"><button class="popup__btn btn btn--round btn--theme-4" type="button">Confirm</button><button class="popup__btn btn btn--round btn--theme-2" type="button">Resend</button></div>
                    </div>
                </div>
            </div>
            <div class="popup popup--narrow popup--activation js-email-activation-toggle"><button class="popup__close" onclick="emailActivation.close()" type="button"></button>
                <div class="popup__container"><button class="popup__close-inner" type="button" onclick="emailActivation.close()"><svg class="popup__close-icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                        </svg></button>
                    <h3 class="popup__heading">Please follow the link sent to your email for verifying your email</h3>
                    <div class="popup__btn-wrapper"><button class="popup__btn btn btn--round btn--theme-2" type="button">Open Email</button><button class="popup__btn btn btn--round btn--theme-4" type="button">Resend Code</button></div>
                </div>
            </div>
            <div class="popup popup--follow-link js-follow-link-toggle"><button class="popup__close" onclick="followLink.close()" type="button"></button>
                <div class="popup__container"><button class="popup__close-inner" type="button" onclick="followLink.close()"><svg class="popup__close-icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                        </svg></button>
                    <h3 class="popup__heading">Please follow the link below to activate your account.</h3>
                    <div class="popup__wrapper"><a class="popup__url" href="#">http://ameribtc.com/verif789yjfkdlmiketogaslowxzfv554545</a><a class="popup__btn btn btn--round btn--theme-4" href="#">Open Link</a><a class="popup__link-btn" href="#">Link not working? Give me a new one.</a></div>
                </div>
            </div>
            <div class="popup popup--pw-recover js-pw-recover-2-toggle"><button class="popup__close" onclick="pwRecover_2.close()" type="button"></button>
                <div class="popup__container"><button class="popup__close-inner" type="button" onclick="pwRecover_2.close()"><svg class="popup__close-icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                        </svg></button>
                    <h3 class="popup__heading">Forgot password? Enter your phone number to recover it.</h3>
                    <div class="popup__wrapper">
                        <div class="popup__field form-group">
                            <div class="form-group__field-group">
<input class="form-group__field" name="blank" type="tel" autocomplete="tel" placeholder="+1 2345 678910" required><svg class="form-group__required">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                </svg></div>
                        </div><button class="popup__btn btn btn--round btn--theme-4" type="button">Recover Password</button><a class="popup__link-btn" href="#">Don’t have acces to your phone?</a>
                    </div>
                </div>
            </div>
            <div class="popup popup--pw-recover js-pw-recover-toggle"><button class="popup__close" onclick="pwRecover.close()" type="button"></button>
                <div class="popup__container"><button class="popup__close-inner" type="button" onclick="pwRecover.close()"><svg class="popup__close-icon">
                            <use xlink:href="{% static 'theme/images/icons.svg' %}#times"></use>
                        </svg></button>
                    <h3 class="popup__heading">Forgot password? Enter your Email address to recover it.</h3>
                    <div class="popup__wrapper">
                        <div class="popup__field form-group">
                            <div class="form-group__field-group">
<input class="form-group__field" name="blank" type="email" autocomplete="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Email address" required><svg class="form-group__required">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#exclamation-circle"></use>
                                </svg></div>
                        </div><button class="popup__btn btn btn--round btn--theme-4" type="button">Recover Password</button><a class="popup__link-btn" href="#">Don’t have access to your Email account?</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="page__inner footer__container">
                    <div class="footer__top"><a class="footer__logo-wrapper" href="#"><img class="footer__logo" src="{% static 'theme/images/logos/logo-footer.png' %}" alt="Raplev logo"></a>
                        <div class="social"> <a class="social__link" href="#"><svg class="social__icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#facebook-f"></use>
                                </svg></a><a class="social__link" href="#"><svg class="social__icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#twitter"></use>
                                </svg></a><a class="social__link" href="#"><svg class="social__icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#linkedin-in"></use>
                                </svg></a><a class="social__link" href="#"><svg class="social__icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#youtube"></use>
                                </svg></a><a class="social__link" href="#"><svg class="social__icon">
                                    <use xlink:href="{% static 'theme/images/icons.svg' %}#youtube"></use>
                                </svg></a></div>
                    </div>
                    <nav class="footer__nav-list"><a class="footer__nav-link" href="#">Menu 1</a><a class="footer__nav-link" href="#">Menu 2</a><a class="footer__nav-link" href="#">Menu 3</a><a class="footer__nav-link" href="#">Menu 4</a><a class="footer__nav-link" href="#">Menu 5</a><a class="footer__nav-link" href="#">Menu 6</a><a class="footer__nav-link" href="#">Menu 7</a><a class="footer__nav-link" href="#">Menu 8</a></nav>
                    <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellendus sint laborum neque maxime autem asperiores commodi illo officiis, velit, harum numquam nulla laudantium voluptatem voluptas dicta doloremque quam nisi!</p>
                    <p class="footer__copyright">Copyright © 2019 All Rights Reserved by Raplev.com</p>
                </div>
            </footer>
        </div>
    </body>

</html>