{% extends 'cadmin/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Community posts{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <section class="section">
        <header class="section__header">
            <nav class="section__nav page-nav"><span class="page-nav__item is-active" href="#">Published (20)</span><a class="page-nav__item" href="#">Paused (7)</a></nav>
            <form class="section__search form-group search" id="form1" action="" method="GET">
                <div class="section__search form-group search">
                    <div class="form-group__field-group"><input class="form-group__field" name="search" value="{{ search }}" placeholder="Search in Posts"><button class="search__btn" type="submit">Search</button></div>
                </div>
            </form>
        </header>
        <div class="section__inner">
            <div class="community-posts__date-filter date-filter">
                <div class="date-filter__inputs">
                    <div class="date-filter__field form-group">
                        <div class="form-group__field-group"><svg class="form-group__calendar" width="30">
                                <use xlink:href="{% static 'cadmin/images/icons.svg' %}#calendar-alt"></use>
                            </svg><input form="form1" class="form-group__field js-datepicker-toggle" name="start_date" placeholder="7 Nov 2019" value="{{ start_date }}" readonly required></div>
                    </div>
                    <div class="date-filter__divider">to</div>
                    <div class="date-filter__field form-group">
                        <div class="form-group__field-group"><svg class="form-group__calendar" width="30">
                                <use xlink:href="{% static 'cadmin/images/icons.svg' %}#calendar-alt"></use>
                            </svg><input form="form1" class="form-group__field js-datepicker-toggle" name="end_date" placeholder="12 Nov 2019" value="{{ end_date }}" readonly required></div>
                    </div><button class="date-filter__apply btn btn--red" form="form1" type="submit">Apply filter</button>
                </div>
            </div>
            <table class="section__table table table--large">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Created By</th>
                        <th>Created on</th>
                        <th>Post Title</th>
                        <th>Post excerpt</th>
                        <th>Upvoted</th>
                        <th>Comments</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><span class="table__mobile-heading">ID</span><span>{{ item.id }}</span></td>
                        <td><span class="table__mobile-heading">Created By</span><a href="#">{{ item.posted_by }}</a></td>
                        <td><span class="table__mobile-heading">Created on</span><span>{{ item.created_at }}</span></td>
                        <td><span class="table__mobile-heading">Post Title</span><span>{{ item.title }}</span></td>
                        <td><span class="table__mobile-heading">Post excerpt</span><span>{{ item.beauty_context }}</span></td>
                        <td><span class="table__mobile-heading">Upvoted</span><span>{{ item.upvotes_count }}</span></td>
                        <td><span class="table__mobile-heading">Comments</span><span>{{ item.comments_count }}</span></td>
                        <td><span class="table__mobile-heading">Status</span><span>{{ item.get_status_display }}</span></td>
                        <td><span class="table__mobile-heading">Actions</span><a href="{{ cadmin_url }}/community-post-details?item_id={{ item.id }}">Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="section__pagination pagination">
                <ul class="pagination__list">
                    {% if items.has_previous %}
                    <li class="pagination__item"><a href="{{ base_url }}page={{ items.previous_page_number }}" rel="first">Prev</a></li>
                    {% else %}
                    <li class="pagination__item disabled">Prev</li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                         {% if items.number == i %}
                         <li class="pagination__item is-active"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                         {% else %}
                         <li class="pagination__item"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                         {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                    <li class="pagination__item"><a href="{{ base_url }}page={{ items.next_page_number }}" rel="next">Next</a></li>
                    {% else %}
                    <li class="pagination__item disabled">Next</li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>
</main>
{% endblock %}