{% extends 'cadmin/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Contact Form{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <section class="section">
        <header class="section__header">
            <h1 class="section__heading">Contact Form</h1>
            <form class="section__search form-group search" action="" method="GET">
                <div class="form-group__field-group"><input class="form-group__field" name="search" placeholder="Search in Contacts" value="{{ search }}"><button class="search__btn" type="submit">Search</button></div>
            </form>
        </header>
        <div class="section__inner">
            <table class="section__table table">
                <thead>
                    <tr>
                        <th>Email address</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>IP Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><span class="table__mobile-heading">Email address</span><span>{{ item.email_address }}</span></td>
                        <td><span class="table__mobile-heading">Subject</span><span>{{ item.subject }}</span></td>
                        <td><span class="table__mobile-heading">Message</span><span>{{ item.content }}</span></td>
                        <td><span class="table__mobile-heading">IP Address</span><span>{{ item.ip_address }}</span></td>
                        <td><span class="table__mobile-heading">Actions</span><a href="{{ cadmin_url }}/contact-form-details?item_id={{ item.id }}">Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="section__pagination pagination">
                <ul class="pagination__list">
                    {% if items.has_previous %}
                    <li class="pagination__item"><a href="{{ base_url }}page={{ items.previous_page_number }}" rel="first">Prev</a></li>
                    {% else %}
                    <li class="pagination__item disabled">Prev</li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                         {% if items.number == i %}
                         <li class="pagination__item is-active"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                         {% else %}
                         <li class="pagination__item"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                         {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                    <li class="pagination__item"><a href="{{ base_url }}page={{ items.next_page_number }}" rel="next">Next</a></li>
                    {% else %}
                    <li class="pagination__item disabled">Next</li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>
</main>
{% endblock %}