{% extends 'cadmin/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Customer Details{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger details">
    <section class="details__section section">
        <header class="section__header">
            <h1 class="section__heading"><a class="details__heading-text" href="{{ cadmin_url }}/customers">Customers</a><span> / </span><span>{{ item.id }}</span></h1>
        </header>
        <div class="section__inner data-panel">
            <dl class="data-panel__list">
                <div class="data-panel__item"><dt class="data-panel__heading">Username</dt>
                    <dd class="data-panel__value"> <a href="#">{{ item.user.username }}</a></dd>
                </div>
                <div class="data-panel__item"><dt class="data-panel__heading">Email</dt>
                    <dd class="data-panel__value">{{ item.user.email }}</dd>
                </div>
                <div class="data-panel__item"><dt class="data-panel__heading">Email verified</dt>
                    <dd class="data-panel__value is-{{ item.user.email_verified|lower }}">{{ item.user.get_email_verified_display }}</dd>
                </div>
            </dl>
            <dl class="data-panel__list">
                <div class="data-panel__item"><dt class="data-panel__heading">Phone verified</dt>
                    <dd class="data-panel__value is-{{ item.user.phone_verified|lower }}">{{ item.user.get_phone_verified_display }}</dd>
                </div>
                <div class="data-panel__item"><dt class="data-panel__heading">ID verified</dt>
                    <dd class="data-panel__value is-{{ item.user.id_verified|lower }}">{{ item.user.get_id_verified_display }}</dd>
                </div>
                <div class="data-panel__item"><dt class="data-panel__heading">Seller level</dt>
                    <dd class="data-panel__value">{{ item.seller_level }}</dd>
                </div>
            </dl>
            <dl class="data-panel__list">
                <div class="data-panel__item"><dt class="data-panel__heading">Created</dt>
                    <dd class="data-panel__value">{{ item.user.date_joined }}</dd>
                </div>
                <div class="data-panel__item"><dt class="data-panel__heading">Active</dt>
                    <dd class="data-panel__value is-{{ item.user.is_customer|lower }}">{{ item.user.get_is_customer_display }}</dd>
                </div>
            </dl>
        </div>
    </section>
    <div class="page__control"><a class="page__control-item btn btn--accent" href="#" onclick="customerPopup.open()">Suspend customer</a></div>
</main>
<aside class="modal popup popup--medium js-customer-popup-target"><button class="modal__close-outer" type="button" onclick="customerPopup.close()"></button>
    <form class="popup__container modal__container" action="{{ cadmin_url }}/customer-suspend/" method="POST">
        {% csrf_token %}
        <input type="hidden" id="item_id" name="item_id" value="{{ item.id }}" />
        <button class="popup__close-inner" type="button" onclick="customerPopup.close()">
            <svg class="popup__close-icon" width="30">
                <use xlink:href="{% static 'cadmin/images/icons.svg' %}#times"></use>
            </svg>
        </button>
        <h1 class="popup__heading">If customer thomas.cooper need to be suspended, please type SUSPEND in the field below.</h1>
        <div class="form-group">
            <div class="form-group__field-group"><input class="form-group__field" name="unfilled" type="text" pattern="SUSPEND" required></div>
        </div>
        <div class="popup__buttons"><button class="btn btn--red" type="submit">Confirm</button></div><strong class="popup__warning">Be careful to not suspend a user by accident</strong>
    </form>
</aside>
{% endblock %}