{% extends 'cadmin/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Offers{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <section class="section">
        <header class="section__header">
            <h1 class="section__heading">Offers</h1>
            <form class="section__search form-group search" action="" method="GET">
                <div class="form-group__field-group"><input class="form-group__field" name="search" value="{{ search }}" placeholder="Search in Offers"><button class="search__btn" type="submit">Search</button></div>
            </form>
        </header>
        <div class="section__inner">
            <table class="section__table table">
                <thead>
                    <tr>
                        <th>Offer ID</th>
                        <th>Flat/Crypto</th>
                        <th>Address</th>
                        <th>Restrict hours</th>
                        <th>Trade type</th>
                        <th>ID verified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><span class="table__mobile-heading">Offer ID</span><a href="#">{{ item.id }}</a></td>
                        <td><span class="table__mobile-heading">Flat/Crypto</span><span>{{ item.flat }}-{{ item.what_crypto }}</span></td>
                        <td><span class="table__mobile-heading">Address</span><span>{{ item.address }}</span></td>
                        <td><span class="table__mobile-heading">Restrict hours</span><span>{{ item.restrict_hours_start }} - {{ item.restrict_hours_end }}</span></td>
                        <td><span class="table__mobile-heading">Trade type</span><span>{{ item.operating_hours_start }} - {{ item.operating_hours_end }}</span></td>
                        <td><span class="table__mobile-heading">ID verified</span><span>{{ item.get_trade_type_display }}</span></td>
                        <td><span class="table__mobile-heading">Actions</span>
                            <div class="actions"><a class="table-actions__item" href="{{ cadmin_url }}/offer-details?item_id={{ item.id }}">Details</a>
                                <!-- <a class="table-actions__item" href="#" onclick="postAction({'item_id': '{{ item.id }}', 'mode': 'suspend' });">Suspend</a> -->
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="section__pagination pagination">
                <ul class="pagination__list">
                    {% if items.has_previous %}
                    <li class="pagination__item"><a href="{{ base_url }}page={{ items.previous_page_number }}" rel="first">Prev</a></li>
                    {% else %}
                    <li class="pagination__item disabled">Prev</li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                         {% if items.number == i %}
                         <li class="pagination__item is-active"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                         {% else %}
                         <li class="pagination__item"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                         {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                    <li class="pagination__item"><a href="{{ base_url }}page={{ items.next_page_number }}" rel="next">Next</a></li>
                    {% else %}
                    <li class="pagination__item disabled">Next</li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>
</main>
{% endblock %}