{% extends 'cadmin/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Revenue Details{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger details">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ item.id }}" name="item_id">
        <section class="details__section section">
            <header class="section__header">
                <h1 class="section__heading"><a class="details__heading-text" href="{{ cadmin_url }}/revenue">Revenue</a><span> / </span><span>{{ item.id }}</span></h1>
            </header>
            <div class="section__inner data-panel">
                <dl class="data-panel__list">
                    <div class="data-panel__item"><dt class="data-panel__heading">Date</dt>
                        <dd class="data-panel__value">{{ item.date }}</dd>
                    </div>
                    <div class="data-panel__item"><dt class="data-panel__heading">Revenue type</dt>
                        <dd class="data-panel__value">{{ item.revenue_type }}</dd>
                    </div>
                    <div class="data-panel__item"><dt class="data-panel__heading">Amount</dt>
                        <dd class="data-panel__value">${{ item.amount }}</dd>
                    </div>
                </dl>
                <dl class="data-panel__list">
                    <div class="data-panel__item"><dt class="data-panel__heading">Source</dt>
                        <dd class="data-panel__value">{{ item.source }}</dd>
                    </div>
                    <div class="data-panel__item"><dt class="data-panel__heading">Refunded</dt>
                        <dd class="data-panel__value">${{ item.refund }}</dd>
                    </div>
                </dl>
            </div>
        </section>
        <div class="page__control">
            {% if success %} 
            <div class="page__control-item status">
                <span class="status__text">{{ success }}</span>
                <span class="status__icon-wrapper">
                    <svg class="status__icon" width="30">
                        <use xlink:href="{% static 'cadmin/images/icons.svg' %}#check"></use>
                    </svg>
                </span>
            </div>
            {% endif %}
            <button class="page__control-item btn btn--accent" type="submit">Issue a refund</button>
        </div>
    </form>
</main>
{% endblock %}